svg{
  max-width:80%;
  height:auto;
}
#circle{
  fill: none;
  stroke: #008B6F;
  stroke-width:7px;
}

#line{
  stroke: #000000;
  stroke-width:5px;
}
#text{
  font-family: 'Arial Black';
  font-size:60px;
  text-anchor: middle;
  fill: red;
  stroke:#000;
  stroke-width:3px;
  font-weight:bold;
}
#poly{
  fill: green;
  stroke:#000;
  stroke-width:3px;
}

.triangle{
  fill: green;
  stroke:#000;
  stroke-width:1px;
}




.background-circle {
  fill: #068C70;
  stroke: #FFFFFF;
  stroke-width: 15px;
}
.chimney {
  fill: #FBF6A7;
}
.chimney-topper {
  fill: #E04E27;
}
.body {
  fill: #FBF6A7;
}
.roof {
  fill: #E04E27;
}
.door {
  fill: #E04E27;
}
.door-knob {
  fill:#FBF6A7;
}
.flower line {
  fill: #068C70;
  stroke: #068C70;
  stroke-width: 1px;
}
.flower-outer {
  fill: #EC7E23;
}
.flower-inner {
  fill: #FBCE1D;
}
text {
  font-family: 'Arial Black';
  font-size:50px;
  
  fill: #3E9FD8;
  stroke: #FFFFFF;
  stroke-width: 2px;
}
.windows rect {
  fill: #3E9FD8;
}
.windows line {
  stroke: #E04E27;
  stroke-width: 4px;
}
path {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2px;
}
